@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
}
.contact-container{
 display: flex;
 height: 90vh;
 padding: 30px;
 width: 90vw;
}

.contact-details{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.contact-elements{
    margin-top: 10%;
    margin-left: 4%;
}

.contact-form{
    flex: 1;
}

.form-container{
    padding: 30px;
    margin-top: 14%;
    margin-left: 3%;
    width: 85%;
}

.nameInput{
    display: flex;
    gap: 40px;
    margin-left: 2%;
}

h3{
    padding: 2%;
    margin-bottom: 2%;
    font-weight: 600; 
    font-size: 50px;
}

p{
    font-size: 20px;
    margin-bottom: 3%;
}

i{
    color:rgb(64, 64, 254);
    margin-left: 2%;
    padding: 1%;
}

.description{
    padding : 1%;
    margin-left: 1%;
    font-size : 30pxpx;
}

form {
    font-size: 20px;
    display: flex;
    flex-direction: column;      
}

input,textarea,button{
    border: 2.5px solid #ccc;
    border-radius: 4px; 
    padding: 1%;
    padding-left: 8px;
    margin-left: 2%;
}

label{
    font-weight: 500;
    padding: 1%;
    margin-left: 2%;
}

.error{
    color:red;
    margin-top: 2px;
    font-weight: 500;
    padding: 1%;
    margin-left: 2%;
}

input {
    height: 30px
}

input::placeholder {
  color: gray;
  font-size: 16px;
  font-style: italic;
  opacity: 1; 
}


textarea{
    resize: none;
    width: 96%;
    height: 200px;
}

button{
    border-radius: 3000px;
    border: 0;
    margin-top: 10px;
    background-color: rgb(64, 64, 254);
    color: white;
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 20%;
}
